.fz-m {
  font-size: 1.4em;
}

.fz-l {
  font-size: 3em;
}

.fz-xl {
  font-size: 8em;
}

.fw-b {
  font-weight: bold;
}

.font-helv {
  font-family: Helvetica, sans-serif;
}

.fc-white {
  color: #000;
}

.bc-green {
  background-color: #BADA55;
}

.fc-blue {
  color: #10ADED;
}

.fc-black {
  color: #000;
}

.ta-c {
  text-align: center;
}

.mg-no {
  margin: 0px;
}
.mt-no {
  margin-top: 0px;
}

.mt-md {
  margin-top: 0.5em;
}

html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-image: url('dock.jpeg');
  background-size: cover;
/*  background-repeat: no-repeat;
  background-position: fixed;*/
}

div.wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(192, 192, 192, 0.8);
  height: auto;
  min-height: 100%;
  padding: 3%;
  padding-top: 6%;
}

form input {
  display: block;
  width: 100%;
  font-size: 2em;
}

input[type=submit] {
  color: #FFF;
  background-color: #10ADED;
  border: 0px;
  font-size: 3em;
  border-radius: 10px;
}

div.submitButton {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button.display-form {
  border: 0px;
  background-color: #EBEBEB;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #DE1E7E;
}

li {
  list-style-type: none;
}

li:before {
  content: '\2609';
}

div.instructions {
  display: inline-block;
  width: 33%;
  /*border: 1px dotted red;*/
  vertical-align: top;
  margin-bottom: 1em;
}
