<!DOCTYPE html>
<html>
<head>
  <title>SideBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="font-helv">
  <div class="wrapper">
    <p class="fz-xl fw-b mg-no ta-c">side box</p>

    <div id="content"></div>

  </div>
</body>
</html>
